.city-name{
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    text-align: center;
    height: 300px;
    width: 400px;
    border-radius: 25px;
}