.contact-container{
    display: flex;
    background-color: #00A2E1;
    height: 374px;
    margin-top: 100px;
}

.connect-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
    width: 50%;
    margin-bottom: 50px;
}

.connect-container h2,
.socialize-container h2{
    color: white;
    font-weight: 500;
    font-size: 36px;
    margin-top: 50px;
}

.connect-container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.connect-input{
    border: 1px solid #ced3db;
    border-radius: 12px;
    width: 440px;
    height: 48px;
    color: #ced3db;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
}

.socialize-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    margin-left: 40px;
    margin-bottom: 60px;
}

.socialize-container img{
    width: 30px;
    height: 30px;
}

.social-item{
    display: flex;
    align-items: center;
}

.social-item h4{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.social-item a{
    text-decoration: none;
    color: white;
}

.social-item a:hover{
    color: #003049;
}