.all-cities-container{
    min-height: 60vh;
    margin-top: 78px;
}


.all-cities-btns-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    margin-top: 50px;
}