.homepage-container{
    min-height: 100vh;
    margin-top: 78px;
}

.accomodations-header{
    color: black;
    font-size: 36px;
    font-weight: 550;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.cities-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cities-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 25px;
}

.cities-btn{
    border: none;
    width: 200px;
    height: 48px;
    background: #3A5295;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.cities-btn:hover{
    background-color: white;
    color: #3A5295;
    border: 1px solid #3A5295;
}

.compare-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F6FAFD;
    border-radius: 24px;
    height: 488px;
    margin-right: 28px;
    margin-left: 28px;
}

.compare-container h2{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 60px;
}

.compare-items-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.compare-item{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compare-item img{
    width: 80px;
}

.compare-item h3{
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.compare-item p{
    color: #383838;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    text-align: center;
}

.search-container{
    display: flex;
    margin-top: 120px;
    height: 500px;
}

.selection-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
}

.selection-item{
    display: flex;
}

.selection-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.selection-container button{
    border: none;
    width: 240px;
    height: 48px;
    background: #3A5295;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.selection-container button:hover{
    background-color: white;
    color: #3A5295;
    border: 1px solid #3A5295;
}

.selection-content h3{
    font-size: 28px;
    font-weight: 500;
}

.selection-content p{
    color: #383838;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 32px;
}

.selection-item img{
    width: 65px;
    height: 60px;
}

.person{
    width: 50%;
    position: relative;
}

.person img{
    position: absolute;
    top: 106.6px;
}

.contact-container{
    display: flex;
    background-color: #00A2E1;
    height: 374px;
    margin-top: 100px;
}

.connect-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
    width: 50%;
    margin-bottom: 50px;
}

.connect-container h2,
.socialize-container h2{
    color: white;
    font-weight: 500;
    font-size: 36px;
    margin-top: 50px;
}

.connect-container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.connect-input{
    border: 1px solid #ced3db;
    border-radius: 12px;
    width: 440px;
    height: 48px;
    color: #ced3db;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
}

.socialize-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    margin-left: 40px;
    margin-bottom: 60px;
}

.socialize-container img{
    width: 30px;
    height: 30px;
}

.social-item{
    display: flex;
    align-items: center;
}

.social-item h4{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.social-item a{
    text-decoration: none;
    color: white;
}

.social-item a:hover{
    color: #003049;
}